@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');
@font-face {
  font-family: 'Operator Mono Medium';
  src: url('../fonts/operator-mono-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
h1 {
  font-family: 'Nunito', 'Open Sans', 'Operator Mono Medium', Verdana, Geneva,
    Tahoma, sans-serif;
}
body {
  padding: 30px;
  min-height: 99vh;
  background-color: rgb(238, 238, 238);
}
h1 {
  padding-bottom: 30px;
}
.center {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.shadow {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.login-form {
  box-sizing: content-box;
  width: 300px;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.table {
  width: clamp(350px, 90vw, 900px);
}
.table td {
  min-width: 150px;
}
.table .pwd-cell {
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-btn::after {
  content: 'Edit';
}
.delete-btn::after {
  content: 'Delete';
}
@media only screen and (max-width: 500px) {
  .edit-btn::after {
    content: '\f044';
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  .delete-btn::after {
    content: '\f1f8';
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: 900;
  }
}
